@import '../../../styles/colors.scss';

.sd-container-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
  height: 634px;
  margin-bottom: 20px;
  background-color: $red;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.35), 0px 10px 2px rgba(0, 0, 0, 0.35),
    inset 0px 6px 2px rgba(0, 0, 0, 0.25);
  padding: 8px;

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    border-radius: 15px;
    height: 50px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.35) 0%,
      transparent 100%
    );
  }

  .sd-name {
    z-index: 1;
    font-size: 40px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $dark-red;
    text-shadow: 4px 4px 0px $dark-red;
    color: white;
    text-align: center;
    margin: 15px 0;
  }

  .sd-container {
    width: 100%;
    flex-grow: 1;
    height: 520px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $background-white;

    .sd-img-wrap {
      width: 370px;
      height: 100%;
      border-radius: 15px;
      box-shadow: inset 0px 3px 2px rgba(146, 118, 28, 0.2);
      background: radial-gradient(
        100.1% 100.1% at 50% -2.54%,
        $yellow 14.58%,
        $background-white 93.75%
      );
      padding: 13px;

      .sd-img {
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .sd-details-wrap {
      margin: 0 auto;
      width: 620px;

      .sd-details {
        @extend .grid-2-col;
      }

      .sd-sayings {
        display: flex;
        height: 330px;
        margin-top: 40px;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
          background-color: transparent;
          // padding: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $red;
          border: 2px solid $yellow;
          box-shadow: inset 0px 3px 2px rgba(146, 118, 28, 0.2);
          max-height: 30px;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-corner{
          display: none;
        }

        .sds-col {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
