.star-preview {
  height: 400px;
  width: 300px;
  max-width: 300px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 2px rgba($color: #ea6459, $alpha: 1);
  cursor: pointer;
  background: #fff;

  @media screen and (max-width: 320px) {
    width: 90%;
  }

  .sp-image {
    width: 100%;
    height: 90%;
    background-size: 100%;
    background-position: top;

    &:hover {
      background-size: 200%;
      transition: background-size 20s linear;
    }
  }

  .sp-name {
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
  }
}
