.app {
  width: 100vw;
  max-width: 100%;

  .app-title {
    text-align: center;
    margin: 40px 0;
    padding: 0 15px;
    font-size: 48px;
    color: #A15FA9;

    @media screen and (max-width: 512px) {
      font-size: 36px;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }

  .stars-container {
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
