.app {
  width: 100vw;
  max-width: 100%;

  .app-title {
    font-size: 48px;
    text-align: center;
    margin: 40px 0;
  }

  .stars-container {
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

   
  }
}
